html {
  font-family: "Kepler Std", serif;
}

.fixed-header {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.sans {
  font-family: "Program OT", sans-serif;
}

.fixed-text {
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
}

a {
  text-decoration: none;
}

.black {
  color: black;
}

.cards {
  background-color: red;
}

.medium {
  font-family: program, sans-serif;
  font-weight: 500;
  font-style: normal;
}
