html{
  font-family: "Kepler Std ", serif;
}

.sans {
  font-family: "Program OT", sans-serif;
}

.fixed-text {
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
}

a {
  text-decoration: none;
}

.black {
  color: black;
}

.cards {
  background-color: red;
}
